dagster==1.12.19,
dagster-dg-cli>=1.12.19,
dagster-k8s>=0.28.19,
dagster-postgres>=0.28.19,
dagster-webserver>=1.12.19,
huggingface-hub>=1.7.1,
polars>=1.39.2,
psycopg2-binary>=2.9.11,
pydantic-settings>=2.13.1,
pytest>=9.0.2,